html, body {
    margin: 0;
    height: 100%;
}

body{
    background-image: url("https://www.arrayanesalamos.edu.ec/themes/themes_configuration/images/images/login/fondo.png");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center{
    display: block;
    background-color: cadetblue;

}

.accept{
    margin-left: 275px;
}
