html, body {
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

 /* Overwrite default styles of hr */
 hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

.login{
    background-color: aqua;    
}
.center{
    padding: 16px;
    background-color: white;
}