{% from "_render_macros.html" import render_messages_success %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>DesTapIS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/autocomplete.css') }}" />

</head>
<form action="get" action="{{ url_for('get_parameters') }}">
    <script>
        var someJavaScriptVar = "{{ infor }}";
     </script>
</form>

<button onclick="alert(someJavaScriptVar)" >