<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

<div class="navbar">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<section class= "main_page">
<div class="row">
  <div class="side">
    <h2>Actividades recientes</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>

  <div class="main">
      <div class="navbar">
          <a href="#">Disgustaciones</a>
          <a href="#">Locales</a>
        </div>
    <div class="degus_img" >Image</div>
    <div class="degus_img" >Image</div>
    <div class="degus_img" >Image</div>
    <div class="degus_img" >Image</div>
    <div class="degus_img" >Image</div>
    <div class="degus_img" >Image</div>
    <div class="degus_img" >Image</div>
 </div>

  <div class="side">
    <h2>Perfil</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
</section>


<section class="secondary-menus1">
  <div class="menus">
   <div class="menu1">
     <h2>Submenu1</h2>
   </div>
   <div class="menu1">
      <h2>Submenu2</h2>
   </div>
  </div>
</section>
<section class="secondary-menus2">
  <div class="menus">
    <div class="menu3">
        <h2>Submenu3</h2>
    </div>
    <div class="menu4">
        <h2>Submenu4</h2>
    </div>
  </div>
</section>

</body>