  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section class="header">
    <div class="menu1"> Ayuda(Porfavor)</div>
    <div class="menu2"> Disgustaciones </div>
    <div class="menu3"> Perfil (De lado)</div>
  </section>
  <section class="body"> 
    
    <section class="search">
      AARON COME POLLAS
      <input type="text" placeholder="¿Cuantas pollas se come aaron?">
    </section>
    
    <section class="main_menus">
      <div class="friends_request"></div>
      <div class="main"></div>
      <div class="stadistics"></div>
    </section>
    <section class="secondary_menus">
        <div class="friends"></div>
        <div class="awards"></div>
        <div class="stadistics"></div>
        <div class="stadistics"></div>
    </section>
  </section>
</body>