{% from "_render_macros.html" import render_messages_success %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>DesTapIS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 

</head>
<body>
  {{render_messages_success(messages)}}
<div class="logout">
  <form method="post" action="{{ url_for('logout') }}">
    <button type="submit" class="logoutbtn" >Logout</button>
  </form>
</div>
<div class="navbar">
  <a href="#">Ayuda</a>
  <a href="#">Degustaciones</a>
  <a href="#">Perfil</a>
</div>

<form class="example" method="get" action="{{ url_for('search') }}">
  <input type="text" placeholder="Search.." name="var_busqueda">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<section class= "main_page">

    <div class="navbar">
        <button class="tablink" onclick="tab_main(event,'degustaciones')" id="defaultOpen">Degustaciones</button>
        <button class="tablink" onclick="tab_main(event,'locales')">Locales</button>
    </div>
          
    <div id="degustaciones" class="main">
      <div class="section1">
          <div class="degus_img" >Degustacion</div>
          <div class="degus_img" >Degustacion</div>
      </div>    
      <div class="section2">
          <div class="degus_img" >Degustacion</div>
          <div class="degus_img" >Degustacion</div>
      </div>
      <div class="section3">
          <div class="degus_img" >Degustacion</div>
          <div class="degus_img" >Degustacion</div>
      </div>
   </div>

   <div id="locales" class="main">
    <div class="section1">
        <div class="degus_img" >Locales</div>
        <div class="degus_img" >Locales</div>
    </div>    
    <div class="section2">
        <div class="degus_img" >Locales</div>
        <div class="degus_img" >Locales</div>
    </div>
    <div class="section3">
        <div class="degus_img" >Locales</div>
        <div class="degus_img" >Locales</div>
    </div>
 </div>

  <div class="row">
  <div class="side">
    <h2>Actividades recientes</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="side">
    <div class="navbar">
        <button class="tablink" onclick="tab_info_menu(event,'perfil')" id="defaultOpen">Perfil</button>
        <button class="tablink" onclick="tab_info_menu(event,'estadisticas')">Estadisticas</button>
        <button class="tablink" onclick="tab_info_menu(event,'solicitudes')">Solicitudes</button>    
    </div>
  <div class="info_menu" id="perfil">
    <h2>Perfil</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod doloribus illo sit, cupiditate fugit quis consequatur esse veniam quidem ab, voluptatem incidunt libero nesciunt ipsum vitae amet accusamus numquam qui!</h3>
  </div>

  <div class="info_menu" id="estadisticas">
      <h2>Estadisticas</h2>
      <p>Aaron tio ponme bien las cosas de la BBDD</p>  
    </div>
  
    <div class="info_menu" id="solicitudes">
        <h2>Caca</h2>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod doloribus illo sit, cupiditate fugit quis consequatur esse veniam quidem ab, voluptatem incidunt libero nesciunt ipsum vitae amet accusamus numquam qui!</h3>
      </div>
        
    
  </div>
</section>


<section class="secondary-menus1">
  <div class="menus">
   <div class="menu1">
     <h2>Submenu1</h2>
   </div>
   <div class="menu1">
      <h2>Submenu2</h2>
   </div>
  </div>
</section>

<section class="secondary-menus2">
  <div class="menus">
    <div class="menu3">
        <h2>Submenu3</h2>
    </div>
    <div class="menu4">
        <h2>Submenu4</h2>
    </div>
  </div>
</section>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>