  <!DOCTYPE html>
<html>

<head>
  <title>DesTapIS</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/login.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <section class="center">
    <form method="post" action="{{ url_for('login') }}">
    <h1>LOGIN</h1> 
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Email" name="usuario" required>

      <label for="email"><b>Contraseña</b></label>
      <input type="text" placeholder="Contraseña" name="contrasena" required>
        
      <div class="forget">
          <p>
            <a href="http://laurel.datsi.fi.upm.es/docencia/asignaturas/so5" target="_blank">
            ¿Olvidó su contraseña?</a>
          </p>
        </div>
      
        <hr>
        <button class="accept" style="background-color: beige;">
        aceptar
        </button>

  </section>
  
  
</body>