
{% from "_render_macros.html" import render_messages_success %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>DesTapIS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
  {{render_messages_success(messages)}}

<div class="navbar">
  <button id="helpBtn">Aiuda</button>
  <!-- The Modal -->
<div id="helpModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>ODIAME POR SER OTAKU, Adelante,estas en tu derecho,abla amis espaldas y az de mi vida un infierno,lo aguantare con una sonridsa en la cara,insulta al anime,a algun amigo tanbien otaku,y el infierno te parecera un hotel conparado conmigo</p>
  </div>

</div>
  <a href="#">Degustacioness</a>
  <a href="{{ url_for('home') }}">Home</a>
</div>

<section class= "main_page">

    <div class="navbar">
        <button class="tablink" onclick="tab_main(event,'informacion')" id="defaultOpen">Información perfil</button>
        <button class="tablink" onclick="tab_main(event,'cambiar_datos')">Modificar Datos</button>
        <button class="tablink" onclick="tab_main(event,'errores')">Reportar errores</button>
    </div>
          
    <div id="informacion" class="main">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis corrupti laboriosam, accusantium eum quo odit in. Eligendi quaerat saepe sunt reiciendis doloremque cupiditate, debitis eos soluta non a explicabo nulla!
   </div>

   <div id="cambiar_datos" class="main">
    <label for="email"><b>Nombre de usuario</b></label>
    <input type="text" placeholder="Nombre de usuario" name="usuario" required>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>
    <hr>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Contraseña Antigua" name="password" required>
    <input type="password" placeholder="Contraseña" name="password" required>
    <input type="password" placeholder="Repita la contraseña" name="repite_password" required>
    <hr>
    <label ><b>Fecha de nacimiento</b></label>
    <input type="date" placeholder="Introduzca su fecha de nacimiento" name="fecha" required>
    <hr>
    <label ><b>Nombre y apellidos</b></label>
    <input type="text" placeholder="Nombre Apellido1 Apellido2" name="nombre" autocomplete="off">
    <hr>
    <label ><b>Género</b></label>
    <select>
        <option value="Locales" name="genero">Si</option>
        <option value="degustaciones" name="genero">Puede</option>
        <option value="degustaciones" name="genero">27</option>
        <option value="degustaciones" name="genero">Amargo</option>
    </select>
    <hr>
    <label ><b>Introducción </b></label>
    <form>
       <textarea type="text" name="introduccion" autocomplete="off" placeholder="Write something.." style="height:200px"></textarea>
   </form>
   <hr>
 <button type="submit" class="registerbtn" value="Submit">Done</button>
             
    <hr>
  </div>

 <div id="errores" class="main">
    <label ><b>Tipo de Error</b></label>
    <select>
        <option value="Locales" name="genero">Nacer</option>
        <option value="degustaciones" name="genero">Aaron ha vuelto a joder la BBDD</option>
        <option value="degustaciones" name="genero">Jorge</option>
        <option value="degustaciones" name="genero">Harry Potter</option>
    </select>
    <hr>
  <label ><b>Descripcion del Error </b></label>
  <form>
      <textarea type="text" name="introduccion" autocomplete="off" placeholder="Write something.." style="height:200px"></textarea>
  </form>
  <hr>
  <button type="submit" class="registerbtn" value="Submit">Done</button>
  
</div>
<script src="{{ url_for('static', filename='js/perfil.js') }}"></script>

</section>

</body>