{% from "_render_macros.html" import render_messages_error %}

<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/register.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <form method="post" action="{{ url_for('register') }}">
                {{render_messages_error(messages)}}
            <div class="container">
                <h1>Registro</h1>
                <hr>

                <label for="email"><b>Nombre de usuario</b></label>
                <input type="text" placeholder="Nombre de usuario" name="usuario" required>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Email" name="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Contraseña" name="password" required>
            
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repita la contraseña" name="repite_password" required>
                
                <label ><b>Nombre y apellidos</b></label>
                <input type="text" placeholder="Nombre Apellido1 Apellido2" name="nombre" >
              
                <label ><b>Nacionalidad</b></label>
                <input type="text" placeholder="Introduzca su nacionalidad" name="nacionalidad" >

                <label ><b>Fecha</b></label>
                <input type="date" placeholder="Introduzca su fecha de nacimiento" name="fecha" >

                <label ><b>Foto de perfil</b></label>
                <input type="file" name="foto">

                <label ><b>Introducción </b></label>
                <input type="text" placeholder="Introduccion" name="introduccion">

                <hr>
                <button type="submit" class="registerbtn" value="Submit">Register</button>
             
              </div>

        </form>
    </body>

</html>